.circle1 {
  position: fixed;
  background-color: white;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 3%;
}

.circle2 {
  position: fixed;
  background-color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  top: 10%;
  left: 20%;
}

.circle3 {
  position: fixed;
  background-color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  top: 11%;
  left: 80%;
}

.circle4 {
  position: fixed;
  background-color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  top: 60%;
  left: 3%;
}

.circle5 {
  position: fixed;
  background-color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  top: 30%;
  left: 95%;
}

.circle6 {
  position: fixed;
  background-color: white;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  top: 5%;
  left: 45%;
}

.circle7 {
  position: fixed;
  background-color: white;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  top: 8%;
  left: 60%;
}

.circle8 {
  position: fixed;
  background-color: white;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  top: 8%;
  left: 10%;
}

.circle9 {
  position: fixed;
  background-color: white;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  top: 10%;
  left: 95%;
}

.circle10 {
  position: fixed;
  background-color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 97%;
}

.circle11 {
  position: fixed;
  background-color: white;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  top: 20%;
  left: 2%;
}

.circle12 {
  position: fixed;
  background-color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  top: 1%;
  left: 50%;
}

.circle13 {
  position: fixed;
  background-color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  top: 60%;
  left: 95%;
}
.circle14 {
  position: fixed;
  background-color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  top: 80%;
  left: 1%;
}
.circle15 {
  position: fixed;
  background-color: white;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  top: 80%;
  left: 95.5%;
}
.circle16 {
  position: fixed;
  background-color: white;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  top: 37%;
  left: 1%;
}