.display-4{
    text-align: center;
}
.contributetext{
    font-family: sans-serif;
margin-left: 100px;
text-align: left;
}
.contributebox{
    margin-top: 100px;
    margin: auto !important;
}
.resbtn{
    background-color: #12486b !important;
    color: white !important;

}
.conthead{
    text-align: center;
font-family: sans-serif;
margin-top: 70px;
margin-bottom: 70px;
}
/* contribute.css */

@media (max-width: 768px) {
    .modal-dialog {
      width: 100%; /* Set the width to 100% on smaller screens */
    }
  
    iframe {
      width: 100%; /* Make the iframe width 100% on smaller screens */
      height: auto; /* Allow the height to adjust proportionally */
    }
  }
  
  /* Additional styles for larger screens if needed */
  @media (min-width: 769px) {
    .modal-dialog {
      max-width: 100%; /* Adjust the maximum width for larger screens */
    }
  
    iframe {
      max-width: 100%; /* Adjust the maximum width for larger screens */
    }
  }
  