* {
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
    font-family: sans-serif;
    text-decoration: none;
    /* list-style: none; */
  }
  
  .header {
    position: sticky;
    margin:0;
    padding: 0;
    top: 0;
    width: 100%;
    box-shadow: 0 4px 20px hsla(207, 24%, 35%, 0.1);
    background-color: #12263f;
    z-index: 1;
  }
  .logogdsc{
    width:15rem;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
  }
  
  .logo a {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
  }
  
  .logo a span {
    color: #8739fa;
  }
  
  .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
  }

  .menu li {
    list-style: none;
  }
  
  .menu a {
    display: block;
    margin-left: 4rem;
    font-size: 18px;
    font-weight: bolder;
    transition: 0.2s all ease-in-out;
    color: #fff;
    text-decoration: none;
  }
  
  .menu:hover a {
    opacity: 0.4;
  }
  
  .menu a:hover {
    opacity: 1;
    color: #fff;
    text-decoration: underline;
  }
  
  .menu-icon {
    display: none;
  }
  
  #menu-toggle {
    display: none;
  }
  
  #menu-toggle:checked ~ .menu {
    transform: scale(1, 1);
  }
  
  @media only screen and (max-width: 950px) {
    .menu {
      flex-direction: column;
      background-color: #151418;
      align-items: start;
      position: absolute;
      top: 70px;
      left: 0;
      width: 100%;
      z-index: 1;
      transform: scale(1, 0);
      transform-origin: top;
      transition: transform 0.3s ease-in-out;
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }
  
    .menu a {
      margin-left: 12px;
    }
  
    .menu li {
      margin-bottom: 10px;
    }
  
    .menu-icon {
      display: block;
      color: #fff;
      font-size: 28px;
      cursor: pointer;
    }
  }
  .buttonheader {
    background-color: #12263f;
    color:white;
    border-radius: 10%;
    border: 2px solid #fff;
    padding:0.75rem;

  }

  .buttonheader:hover a{
    background-color: #fff;
    border-radius: 10%;
    text-decoration: none;
    color: #12263f;
    padding:0.75rem;
  }

  .buttonheader:hover a{
    text-decoration: none;
    color: #12263f;
  }