body {
    font-family: "Rubik", sans-serif;
    margin: 0;
}

a, a:hover, a:focus {
    text-decoration: none;
    transition: 0.5s;
    outline: none;
}


.container {
    width: 100%;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:80px 0;
    color: white; 
    background-color: none;
    /* height: 100vh; */
    /* background-color: #475f7b; */
}

.question-container {
    width: 85%;
    display: flex;
    flex-direction: column; /* Added to stack elements vertically */
    align-items: center;
    background-color: none;
}

.headline {
    text-align: center;
    color: #fff;
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.card {
    /* box-shadow: 0px 5px 10px rgba(90, 116, 148, 0.3); */
    border-radius: 8px;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.3px;
    /* color: #475f7b; */
    overflow: hidden;
    margin: 0;
   
    color:white;
}

.rc-accordion-toggle {
    height: 35px;
    padding: 0 20px;
    display: flex;
    align-items: center; /* Adjusted to center items vertically */
    cursor: pointer;
    justify-content: space-between;
    background-color: #ffffff;
    transition: 0.3s;
}


.rc-accordion-toggle.active .rc-accordion-icon {
    transform: rotate(180deg);
    color: #475f7b;  /* Keep the same color when active */
}

.rc-accordion-card {
    width: 100%; /* Adjusted width to take the full width */
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    overflow: hidden;
    background-color: transparent;
}

.rc-accordion-card:last-child {
    margin-bottom: 0;
}

.rc-accordion-title {
    font-weight: 500;
    font-size: 1.2rem;
    position: relative;
    margin-bottom: 0;
    color: #475f7b;
    transition: 0.3s;
}

.rc-accordion-toggle.active .rc-accordion-title {
    color: #000;
    font-size: 1.2rem;  /* Keep the same color when active */
}

.rc-accordion-icon {
    position: relative;
    top: 2px;
    color: #475f7b;
    transition: 0.35s;
    font-size: 12px;
}

.rc-accordion-body {
    flex: 1 1 auto;
    min-height: 3px;
    padding: 15px;
    background:#ffffff;
}

.rc-accordion-body p {
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    color: #435a74;
}

.rc-collapse {
    position: relative;
    height: 0;
    overflow: hidden;
    transition: height 0.35s ease;
}

.rc-collapse.show {
    height: auto;
}

@media screen and (max-width: 768px) {
    .question-container {
        width: 80%; /* Adjust width for smaller screens */
    }
    .headline {
        
        font-size: 3rem;
    }
}